<div id = "banner">
    <h3>&nbsp&nbsp&nbsp&nbspContact Management</h3>
    <div id  = "bannerbuttons">

        <button id = "gohome">
            <i class="fa fa-list"></i>Index
        </button>
        
        <button id = "addnew">
            <i class="fa fa-plus-square" aria-hidden="true"></i>New
        </button>

    </div>
</div>